/* Defines reset and box-sizing: border-box */
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

:root {
  --app-min-height: 100dvh;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5em;
}

@media (min-width: 1024px) {
  main {
      display: flex;
      align-items: center;
  }
}


.flex {
  display: flex;
}

.rounded-xl {
  border-radius: 20px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}
