/* Defines reset and box-sizing: border-box */
:root {
  --app-min-height: 100dvh;
  --brand-input-height: 3.5rem;
  --color-quintarny: #d1d5db;
  --color-tertiary: #4b5563;
  --color-input: #f3f4f6;
  --color-black: #111827;
  --color-white: #fff;

  --input-height-regular: var(--brand-input-height);

  --heading-h1-size: 32px;
  --heading-h2-size: 28px;
  --heading-h3-size: 24px;
}

@media (min-width: 768px) {
  :root {
    --heading-h1-size: 48px;
    --heading-h2-size: 36px;
    --heading-h3-size: 28px;
  }
}

html {
  scroll-behavior: smooth;
}

body[class] {
  min-height: 100vh;
  color: var(--color-black);
}

p {
  margin: 0;
}

a {
  cursor: pointer;
  color: var(--mantine-color-brand-6);
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em 1.5em;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.rounded-xl {
  border-radius: 20px;
}

@media (min-width: 1024px) {
  main {
    display: flex;
    align-items: stretch;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}
