/* Defines reset and box-sizing: border-box */
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

:root {
  --app-min-height: 100dvh;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: var(--app-min-height);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 1440px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}
