.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 1.5em;
  border-top: 1px solid var(--color-quintarny);
}

.footer a {
  padding: .5em 1em;
}

.footer a:last-child {
  padding-right: 0;
}
