.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid var(--color-quintarny);
}

.footer nav {
  display: flex;
  align-items: center;
}

@media (min-height: 1024px) {
  [class*=subpagesContainer] .footer {
    margin-top: auto;
    margin-bottom: 3em;
  }
}

.footer nav a {
  color: var(--color-tertiary);
  padding: 0.5em 1em;
}

.footer nav *:last-child {
  padding-right: 0;
}
